body{
    background-color: #f7f4f2;
}

.Soon{
    font-family: 'Secular One', sans-serif;
    font-size: 100px;
}
.Mensagem{
    font-family: 'Secular One', sans-serif;
    font-size: 30px;
}


@media screen and (max-width:786px){
   .imgCadastro{
    width: 700px;
    }
    .imgAssin{
        width: 700px;
    }
    
}